block footer
  div.footer
    script(src='/bower_components/angular/angular.js')
    script(src='/app.js')
    p.navtxt
        a.navtxt(href="#",) Team | &nbsp;&nbsp;

        a.navtxt(href="#") Privacy | &nbsp;&nbsp;

        | NIC UIT &copy; 2014, All Rights Reserved