block footer
  div.footer
    p.navtxt
        a.navtxt(href="/team",) Team | &nbsp;&nbsp;

        a.navtxt(href="/privacy") Privacy | &nbsp;&nbsp;

        | NIC UIT &copy; 2014, All Rights Reserved