extends layout

block content
  div(ng-controller="InvoiceController").tab-content
    p
      h3 NIC UIT Welcomes you in #{title}
    div
    b.text-center.text-danger Invoice:
    br
    br
    b.text-primary Quantity:
      b.text-success {{qty}}
    input.form-group.form-control(type="number" min="0" ng-model="qty" required)
    br
    br
    b.text-primary Cost:
      b.text-success {{cost}}
    input.form-group.form-control(type="number" min="0" ng-model="cost" required)
    br
    br
    b.text-primary Currency:
      b.text-success {{inCurr}}
    select.form-group.form-control(data-ng-model="inCurr")
      option(ng-repeat="c in currencies" value="{{c}}") {{c}}
    br
    br
    b.text-primary Total:
    span(ng-repeat="ct in currencies")
      br
      b.text-success &nbsp; {{total(ct) | currency:ct}}
    br
    br
    input.btn.btn-primary(type="button" ng-click="pay()" value="PAY IT")
    br
    br
