block navBar
   div.pp
    div.container
        ul.col-md-12.row
            a(href="#")
                li.col-md-3.col-md-offset-1.navtxt Register
            a(href="#")
                li.col-md-3.navtxt Login
            a(href="#")
                li.col-md-3.navtxt About Chatbox