block navBar
   div.pp
    div.container
        ul.col-md-12.row
            a(href="/home")
                li.col-md-2.col-md-offset-1.navtxt Home
            a(href="#")
                li.col-md-2.col-md-offset-1.navtxt About Us
            a(href="#")
                li.col-md-2.col-md-offset-1.navtxt Register
            a(href="#")
                li.col-md-2.col-md-offset-1.navtxt Login